body{
    background-color: #f2f2f2;
}
#vclaro{
    background-color: #e0e0e0;
}
#campos{
    background-color: #616161;
    color: #fff;
}
div{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1%;
}
#boton{
    background-color: #616161;
    color: #fff;
}
#empresa{
    background-color:  #C7E3E4;
}
#inmueble{
    background-color: #F6D0A1;
}
#pais{
    background-color:  #D3E1BD;
}